enable-pre-post-scripts=true
onlyBuiltDependencies[]=@clerk/shared
onlyBuiltDependencies[]=@sentry-internal/node-cpu-profiler
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=msw
onlyBuiltDependencies[]=unrs-resolver
ignore-workspace-root-check=true
